
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
    cursor  : pointer;
}

.node {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.link_hidden{
	fill: none;
	stroke: #ccc;
	stroke-width: 0px;
}

line {
	stroke: #ccc;
}

.modal-dialog {
	width: 430px;
}

g.node circle {
    stroke  : gray;
    cursor  : pointer;
}

.drag_line {
  stroke: #999;
  stroke-width: 1.5px;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}